/* Adjustments for a funky and modern look */

/* Body styles */
body {
    background: url('/media/homepage2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
.navbar-nav .nav-link {
    color: #fff;
    font-size: 1.2rem;
}

.navbar-nav .nav-link:hover {
    color: #ffc107;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #fff;
}

/* Dropdown menu styles */
.dropdown-menu {
    background-color: #333;
}

.dropdown-menu .dropdown-item {
    color: #fff;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #ffc107;
    color: #000;
}

/* Button styles */
.shop-now-button {
    background: #ffc107;
    color: #000;
    min-width: 200px;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.shop-now-button:hover {
    background: #ff6f00;
    color: #fff;
}

/* Media Queries */
@media (min-width: 992px) {
    
}
